# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Build directories
android/
ios/

# Build outputs
*.apk
*.aab
*.ipa

# Build artifacts
.expo/
dist/
web-build/
expo-env.d.ts
# dependencies
node_modules/

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo
.yarn/cache/
